<section class="vh-100" style="background-color: #4b515d">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-8 col-lg-6 col-xl-4">
        <div
          class="card"
          *ngIf="showCity"
        >
          <div id="divWeatherMain">
            <div class="weatherWidgetRow">{{ WeatherData.temp_celcius }}°</div>
            <div class="weatherWidgetRow">
              {{ WeatherData.temp_min }}° / {{ WeatherData.temp_max }}°
            </div>
            <div class="weatherWidgetRow">
              Feels Like: {{ WeatherData.temp_feels_like }}°
            </div>
            <div class="weatherWidgetRow">{{ WeatherData.name }}</div>
            <div class="weatherWidgetRow">
              Humidity: {{ WeatherData.main.humidity }}%
            </div>
            <div class="weatherWidgetRow">
              {{ WeatherData.sky }}
            </div>
            <div class="weatherWidgetRow">
              sunset at : {{ WeatherData.sunset_time }}
            </div>
          </div>
        </div>
        <div class="weatherWidgetRow" *ngIf="error" style="color: red">
          {{ error }}
        </div>

        <div class="form-group text-center align-content-center mt-2 search">
          <label class="label"
            >Search For City <i class="fa fa-search"></i
          ></label>
          <input type="text" class="form-control" [(ngModel)]="city" />
          <button
            class="btn btn-primary mt-2 form-control"
            [disabled]="!city"
            (click)="onClick()"
          >
            Get Weather
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
